class 電費:
    def __init__(self, 用戶, 度數, 費率):
        self._用戶 = 用戶
        self._度數 = 度數
        self._費率 = 費率

    def total_電費(self):
        return self._度數 * self._費率

帳單1 = 電費("1A", 300, 5)
帳單2 = 電費("1B", 100, 5)
帳單3 = 電費("1C", 500, 5)

print(帳單1._用戶)
print("電費",帳單1._度數*帳單1._費率)
print(帳單2._用戶)
print("電費",帳單2._度數*帳單2._費率)
print(帳單3._用戶)
print("電費",帳單3._度數*帳單3._費率)

class D(object):
    def 帳單(self,x,y):
        return x*y
obj1 = D()
x=300
y=5
result = obj1.帳單(x,y) 
print("1A 電費")
print(result) 

class D(object):
    def 帳單(self,x,y):
        return x*y
obj1 = D()
x=100
y=5
result = obj1.帳單(x,y) 
print("1B 電費")
print(result) 

class D(object):
    def 帳單(self,x,y):
        return x*y
obj1 = D()
x=500
y=5
result = obj1.帳單(x,y) 
print("1C 電費")
print(result) 

class luggage(object):
    def luggage(self,a,b,c,d):
        return a,b,c,d
luggageA = ("15kG","FROW TaoYuan","TO HongKong","李侑霖1")
luggageB = ("5kG","FROW TaoYuan","TO Taichung","李侑霖2")
luggageC = ("20kG","FROW TaoYuan","TO Tainan","李侑霖3")
user_input = input("輸入想要查詢的行李: ")
if user_input.upper() == 'A':
    print("luggageA")
    print(luggageA )
elif user_input.upper() == 'B':
    print("luggageB")
    print(luggageB)
else :
    print("luggageC")
    print(luggageC)
